<header>
  <h1 class="angular-gradient">
    Angular ⚡️ <code>&#64;defer</code> ⚡️ Interactive Examples
  </h1>
  <section>
    <strong>author</strong>: by Lasitha Prabodha,
    <a href="https://lasitha.dev/">lasitha.dev</a>, see this
    <a href="https://github.com/LasithaPrabodha/angular-deferred-views"
      >github repo</a
    >
  </section>
  <section>
    <strong>documentation</strong>:
    <a href="https://angular.dev/guide/defer">official docs</a>,
    <a href="https://angular.io/guide/defer">legacy docs</a>
  </section>
  <section>Open Browser Devtools <em>Network</em> tab.</section>
</header>

<nav>
  <a routerLink="/about" routerLinkActive="active">💡 about this app</a>
  <a routerLink="/defer-guide" routerLinkActive="active">📚 defer guide</a>
  <br />
  <br />
  <a routerLink="/defer-when-condition" routerLinkActive="active">
    ⚡️ when condition
  </a>

  <a routerLink="/defer-on-idle" routerLinkActive="active">⚡️ on idle</a>
  <a routerLink="/defer-on-viewport" routerLinkActive="active">
    ⚡️ on viewport
  </a>
  <a routerLink="/defer-on-interaction" routerLinkActive="active">
    ⚡️ on interaction
  </a>
  <a routerLink="/defer-on-hover" routerLinkActive="active">⚡️ on hover</a>
  <a routerLink="/defer-on-immediate" routerLinkActive="active">
    ⚡️ on immediate
  </a>
  <a routerLink="/defer-on-timer" routerLinkActive="active">⚡️ on timer</a>

  <br />

  <a routerLink="/defer-prefetch" routerLinkActive="active">⏱️ prefetch</a>
  <a routerLink="/defer-accordion" routerLinkActive="active">🪗 accordion</a>
  <a routerLink="/defer-multiple" routerLinkActive="active"
    >👫 multiple deferrable</a
  >
  <a routerLink="/defer-npm-package" routerLinkActive="active"
    >📦 npm package</a
  >
  <a routerLink="/defer-nested" routerLinkActive="active">🗃️ nested defer</a>
</nav>
<router-outlet></router-outlet>
